#myTable{
    border: 2px solid black;
}
th{
    padding-right: 40px;
}
h1{
    display: inline-block;
    border-bottom: 2px solid;
    width: 282px;

}
form{
    display: table;
    width: 273px;
    text-align: right;
}
button{
    display: inline-block;
    position: relative;
    left: 203px;
    top: 50px;
}
tr:last-child{
    padding-left: 10px;
}